# package directories
node_modules

# Serverless directories
.serverless
.webpack

# Configuration for run-time
config.js
.vscode

# System test config
test/system/lib/outputs.json
test/system/lib/config.js

